*{ margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Nunito', sans-serif;
    background-color: #040438;
}
form{
    background: white;
    width: 100%;
    max-width: 400px;
}



